doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title im a title
        link(rel="stylesheet", href="style.css")
    body 
        h1 this is my life so this dsfef 
        h1 hi
        h2 hope you are doing well